//Google font: Raleway
//Light -> 300
//Regular -> 400
//Bold -> 700
//Heavy -> 900

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900')

$primary-font-color: #fff
$accent-color: #00ff6c
$secondary-color: #232323

*
  box-sizing: border-box //padding is not added to total width of box
  transition: all ease-in-out 250ms

body
  margin: 0
  font-family: Raleway, sans-serif
  text-align: center

img
  max-width: 100%
  height: auto

.container
  width: 95%
  max-width: 70em
  margin: 0 auto

.clearfix::after,
section::after,
footer::after
  content: ' '
  display: block
  clear: both

// column system
//--------------

[class^=col-]
  width: 100%
  margin-top: 1em

[class^=col-]:first-child
  margin-top: 0

.col-1
  float: left
  width: 33.33334%

@media (min-width: 40rem)
  [class^=col-]
    float: left
    padding: 0 .5em
    margin-top: 0
    width: 100%

  [class^=col-]:first-child
    padding-left: 0

  [class^=col-]:last-child
    padding-right: 0

  .col-3
    width: 50%

  .col-1
    width: 16.6666%

//typography
//----------

h1, h2
  font-weight: 300
  font-size: 1.7rem
  margin-top: 0

p
  margin-top: 0
  line-height: 1.5

p:last-of-type
  margin-bottom: 0

.title
  font-size: 2.5rem
  margin-bottom: 1.5em
  font-weight: 900
  margin-top: 1em
  span
    font-weight: 300
    display: block //puts span on its own line
    font-size: .9em

.title-call-to-action
  margin: 0 0 .5em

.unstyled-list
  margin: 0
  padding: 0
  list-style-type: none

@media (min-width: 60rem)
  p
    font-size: 1.2rem
    line-height: 1.6

  .title
    font-size: 3.7rem

//button
.button
  display: inline-block //enables top and bottom paddings and margins
  font-size: 1.15rem
  text-decoration: none
  text-transform: uppercase
  border-width: 2px
  border-style: solid
  padding: .5em 1.75em

@media (min-width: 60rem)
  .button
    font-size: 1.5rem

.button-small
  font-size: .7rem
  font-weight: 700

.button-accent
  color: $accent-color
  border-color: $accent-color
  &:hover,:focus
    background: $accent-color
    color: $secondary-color

.button-dark
  color: $secondary-color
  border-color: $secondary-color
  &:hover,:focus
    background: $secondary-color
    color: $accent-color



//header
//------

header
  position: absolute
  //centers logo:
  left: 0
  right: 0
  margin: 1em

nav
  ul
    margin: 0
    padding: 0
    list-style: none

nav
  li
    display: inline-block
    margin: 1em

nav
  a
    font-weight: 900
    text-decoration: none
    text-transform: uppercase
    font-size: .8rem
    padding: .5em
    color: $primary-font-color

@media (min-width: 60rem) //on bigger screens logo is on left and navigation is on right
  .logo
    float: left
  nav
    float: right

//home-hero
//---------

.home-hero
  background: url(../img/hero-bg.jpg) center
  background-size: cover
  padding: 10em 0
  color: $primary-font-color

@media (min-width: 60rem)
  .home-hero
    height: 100vh
    padding-top: 35vh

//home-about
//----------

.home-about-textbox
  background-color: $secondary-color
  padding: 4em
  margin: 0 -2.5vw 0 -2.5vw
  outline: 2px solid $accent-color
  outline-offset: -2.5em
  color: $primary-font-color
  position: relative
  h2
    background-color: $secondary-color
    color: $accent-color
    top: .75em
    position: absolute
    left: 50%
    transform: translateX(-50%)
    padding: 0 .145em

@media (min-width: 25rem)
  h2
    font-size: 2rem

  .home-about
    h2
      top: .6em
      padding: 0 .325em

@media (min-width: 60rem)
  h2
    font-size: 2.5rem

  .home-about
    background: url(../img/who-we-are.jpg) no-repeat
    padding-bottom: 10em

  .home-about-textbox
    width: 50%
    padding: 7em
    outline-offset: -3.75em
    margin-left: -2.5%
    top: -5em
    text-align: left
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3)
    h2
      top: .75em
      left: 6rem
      transform: translateX(0)

//portfolio
//---------

.portfolio
  padding: 3em 0 0

.port-item
  margin: 0
  position: relative
  img
    display: block //removes spaces between images

.port-description
  position: absolute
  z-index: 100 //place description on top of the photo
  bottom: 0
  left: 0
  right: 0
  padding-bottom: 2em
  color: $primary-font-color
  background: rgba(0, 0, 0, .6)
  p
    margin: 1em

@media (min-width: 37rem)
  .port-item
    width: 50%
    float: left

@media (min-width: 60rem)
  .port-item
    width: 33.333334%
    overflow: hidden

  .port-description
    transform: translateY(150%) //moves descriptions under and overflow:hidden hides them if are outside of the parent div

  .port-item:hover .port-description
    transform: translateY(0%)

//call to action
//--------------

.call-to-action
  background: $accent-color
  padding: 5em 0
  color: $secondary-color

//footer
//------

footer
  background: $secondary-color
  color: $primary-font-color
  text-align: left
  padding: 5em 0